#navbar .logo a{
    float: none;
    color: #fff;
    padding: 0 200px;
    font-size: 40px;
    
}
.logo h1{
    
}

#navbar .container ul{    
    float: none;
    padding: 0 200px;
}
#navbar .container ul li{
    list-style: none;
    text-align: center;
}
#navbar .container ul li a{
    display: inline-block;
    border-bottom: 1px dashed #999;
    padding: 10px 5px;
}
.btn{
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border: none;
}

/* Section */
#home-info .content-img{
    width: 0%; 
}

#home-info .home-content{
    width: 100%;
    text-align: center;
    padding:50px 50px;
    height: 100%;
}
#home-info .home-content a{
    display: inline-block;
    margin: 50px 0;
}

/* Feature section */
.box{
    width: 100%;
    padding: 50px;
    text-align: center;
    
}

/* about content */
#about-content .content-left{
    width: 100%;
    text-align: center;
    padding: 30px 20px;
}
#about-content .content-right{
    width: 100%;
    padding: 50px 100px;
}

/* About guest section */
.guest-content .guest-hero{
    padding: 20px;
    border: 1px solid;
    background-color: orangered;
    display: block;
    margin: 15px 20px;
    text-align: justify;
}